.banner {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 12;
	margin-bottom: 12px;
}

.title {
	font-size: 16px;
	margin-top: 12px;
	margin-bottom: 12px;
}
.extra {
	font-size: 12px;
	color: #6c7072;
}
